a {
  cursor: pointer;
}

.app-container {
  min-height: 350px;
}

.container {
  margin-left: 130px; /* Same as the width of the sidenav */
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  background-color: #96c8eb;
}
